.inputs img{
    width: 25px;
    height: 25px;
}

.inputs img{
    margin: 0px 30px;
}

.signup-background {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); /* Darkens the background */
    z-index: -1;
}

.signup-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    border-radius: 10px;
    color: white;
    /* transition: transform 0.3s ease-in-out; */

}

/* .signup-container:hover{
    transform: scale(1.03);
} */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.SignUpText{
    color: #4c00b4;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
}

.underline {
    width: 70px;
    height: 6px;
    background: #4c00b4;
    border-radius: 9px;
    transition: width 0.4s ease-in-out;
}

.header:hover .underline {
    width: 80px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-group{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input-group input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

/* input::placeholder {
    padding-left: 30px;
}

input {
    padding-left: 10px; Adjust as needed
} */

.submit-container{
    display: flex;
    gap: 30px;
    margin: 25px auto;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    border: none;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.submit-btn:hover {
    background: #36008d;
    transform: scale(1.05);
}
