.main-background {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%); /* Darkens the background for contrast */
    z-index: -1;
}

.about-us-container {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    text-align: justify;
    color: white;
}

.header-aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
}

.aboutus-text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #4c00b4;
    margin-bottom: 7px;
}

.underline-aboutus {
    width: 120px;
    height: 6px;
    background: #4c00b4;
    border-radius: 9px;
    transition: width 0.4s ease-in-out;
}
.header-aboutus:hover .underline-aboutus {
    width: 150px;
}

.about-us-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.return-main {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 30px; /* Adjusts spacing between the text and button */
}

.return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.return-btn:hover {
    background: #36008d;
    transform: scale(1.05);
}
